body {
  background-image: url(img/background.jpg);
  font-family: 'Space Mono', monospace;
  background-repeat: no-repeat;
  background-size: cover;
}

header, h1, h3 {
  font-family: 'Space Mono', monospace;
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative;
}

.container {
  background-color: solid 1px black;
  display: inline-block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.row {
  display: inline-block;
  width: 700px;
  height: 700px;
  margin: auto;
  vertical-align: top;
  text-align: center;
}

/*.column {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  margin: auto;
  vertical-align: top;
  border-radius: 40px;
  text-align: center;

}*/

.circle {
  width: 70px;
  height: 70px;
  margin: 8px 5px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  border-radius: 40px;
}

.magenta {
	background-color: darkmagenta;
	background-size: cover;
	border: 2px solid white;
}

.grey {
	background-color: darkgrey;
	background-size: cover;
	border: 2px solid white;

}

/*#sidebar {
  width: 200px;
  margin: 5px 0px 0px 25px;
  display: inline-block;
  position: relative;
}

#instructions {
  margin: 40px auto;
}*/

.arrow {
  width: 80px;
  height: 50px;
  display: inline-block;
  margin: 0px 5px;
}


/*Previous errors

container {
  border: 1px solid darkgoldenrod;
  width: 550px;
  height: 400px;
  margin: 0 auto;
  padding-top: 100px;
  border-radius: 50px;
  margin-top: 5px;
  text-align: center;
  position: fixed;
}

.gameBoard {
  border: 1px solid darkgray;
  width: 800px;
  height: 650px;
  margin: auto;
}

.row {
  display: inline-block;
}


.column {
  display: inline-block;
}

.circle {
  height: 60px;
	width: 60px;
  border: 1px solid black;
	display: inline-block;
  border-radius: 100%;
}*/
