body {
  background-image: url(img/background.jpg);
  font-family: 'Space Mono', monospace;
  background-repeat: no-repeat;
  background-size: cover;
}

header, h1, h3 {
  font-family: 'Space Mono', monospace;
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative;
}

main {
  margin: auto;
  width: 100%;
  position: relative;
}

#columnSelector {
  padding: 0px 7px;
  display: block;
}

.arrow {
  width: 80px;
  height: 50px;
  display: inline-block;
  margin: 0px 5px;
}

#gameBoard {
  border: solid 2px black;
  display: inline-block;
}

.circle {
  width: 80px;
  height: 80px;
  margin: 8px 5px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  border-radius: 40px;
}

#sidebar {
  width: 260px;
  margin: 5px 0px 0px 25px;
  display: inline-block;
  position: absolute;
}

#instructions {
  margin: 40px auto;
}



/*Previous errors*/

/*.container {
  border: 1px solid darkgoldenrod;
  width: 550px;
  height: 400px;
  margin: 0 auto;
  padding-top: 100px;
  border-radius: 50px;
  margin-top: 5px;
  text-align: center;
  position: fixed;
}*/

/*.gameBoard {
  border: 1px solid darkgray;
  width: 800px;
  height: 650px;
  margin: auto;
}*/

/*.row {
  display: inline-block;
}


.column {
  display: inline-block;
}*/

/*.circle {
  height: 60px;
	width: 60px;
  border: 1px solid black;
	display: inline-block;
  border-radius: 100%;
}*/
